<div class="page-header">
  <h3>{{title}}</h3>
</div>
<div class="row col-md-12 form-inline" style="padding-bottom:20px">
  <label>Login:</label> <input #login class="form-control" />
  <label>Name:</label> <input #userName class="form-control" />
  <button (click)="add(login.value, userName.value); login.value=''; userName.value=''" class="btn btn-default">Add</button>
</div>
<div class="row col-md-8">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Login</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
        <td>{{user.login}}</td>
        <td>{{user.userName}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <app-user-details [user]="selectedUser" (userss)="updateUsers($event)"></app-user-details>
</div>
