    <div *ngIf="user" class="col-md-6">
      <h3>{{user.userName}} details!</h3>
      <div>
        <label>Login: </label> {{user.login}}
      </div>
      <div class="form-inline">
        <label>Name: </label>
        <input [(ngModel)]="user.userName" placeholder="userName" class="form-control"/>
      </div>
      <div style="padding-top: 10px">
        <button (click)="delete(user.login); user.login=''; user.userName='';" class="btn btn-default">
          Delete
        </button>
      </div>
    </div>